.idea/

terraform/.terraform/
terraform/.terraform.lock.hcl
.DS_Store
terraform/backend-setup/.terraform/
terraform/backend-setup/.terraform.lock.hcl
terraform/backend-setup/terraform.tfstate
terraform/cluster_key.pem

kubernetes/jenkins/charts

app/node_modules/
kubernetes/**/charts/
